DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DB_NAME?schema=public"
DIRECT_URL="postgresql://USER:PASSWORD@HOST:5432/DB_NAME"

NODE_ENV=development
PORT=3000
APP_NAME="SathiGuide API"

JWT_ACCESS_SECRET=your-secure-access-token-secret
JWT_ACCESS_EXPIRES_IN_MINUTES=15

JWT_REFRESH_SECRET=your-secure-refresh-token-secret
JWT_REFRESH_EXPIRES_IN_DAYS=30

PASSWORD_RESET_EXPIRES_IN_MINUTES=15

THROTTLE_TTL=60000
THROTTLE_LIMIT=10

MAIL_HOST=
MAIL_PORT=587
MAIL_USER=
MAIL_PASS=
MAIL_FROM=

FRONTEND_URL=your-frontend-url.com