EXPO_PUBLIC_API_URL=http://localhost:8000 #Your backend API URL better to use ngrok for local development(but I prefer to use the deployed backend API URL)
EXPO_PUBLIC_SUPABASE_URL=https://YOUR_PROJECT_REF.supabase.co
GOOGLE_MAPS_API_KEY=Your_Google_Maps_API_Key
